<!DOCTYPE html>
<html lang="en">
 <head>
    <style>
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
    </style>
    <script>
        function showWaiting() {
            var h = document.getElementById("lbl");
            var x = document.getElementById("spinner");
            var y = document.getElementById("btnCap");
            var z = document.getElementById("btnDet");
            h.style.display = "block";
            x.style.display = "block";
            y.disabled = true;
            z.disabled = true;
        }

        function doCapture(){
            showWaiting();
            window.location.href = '/capture';
        }         

        function doDetect(){
            showWaiting();
            window.location.href = '/detect';
        }         

    </script>
  <meta charset="UTF-8">
  <title>My Page</title>
 </head>
 <body>
    <p>
        <!-- <button onclick="location.href='/capture'" type="button">Capture</button> <button  onclick="location.href='/detect'" type="button">Detect</button> -->
        <div style="padding-bottom: 10px">
            <form action = "/uploader" method = "POST" 
                enctype = "multipart/form-data">
                <input type = "file" name = "file" />
                <input type = "submit"/>
            </form>
            </div>    
        <div style="padding-bottom: 10px"><button onclick="doCapture()" type="button" style="width: 87px" id="btnCap">Capture</button></div>
        <div style="padding-bottom: 10px">
        <button onclick="doDetect()" type="button" style="width: 87px" id="btnDet">Detect</button>
        </div>
    </p>
    <div class="loader" id="spinner" style="display:none"></div><div id="lbl" style="display:none"><i>loading...</i></div>
    <h2>Incoming</h2>
    {% for pic in incoming %}
    <a href="/static/incoming/{{pic}}"><img src="/static/incoming/{{pic}}" alt="{{pic}}" width="200"></a>
    {% endfor %}

    <h2>Processed</h2>
    {% for pic in captured %}
    <a href="/static/captured/{{pic}}"><img src="/static/captured/{{pic}}" alt="{{pic}}" width="200"></a>
    {% endfor %}

    
    <h2>Detected</h2>
    {% for pic in detected %}
    <a href="/static/detected/{{pic}}"><img src="/static/detected/{{pic}}" alt="{{pic}}" width="200"></a>
    {% endfor %}
 </body>
</html>